<form id="chat-form">
  <h2>Send a message</h2>
  <div class="input-group">
    <label for="message">Username</label>
    <input type="text" id="username" required>
  </div>

  <div class="input-group">
    <label for="message">Message</label>
    <textarea id="message" rows="5" cols="50" required></textarea>
  </div>

  <input type="submit" value="Send">
</form>

<h2>Chat messages</h2>
<div id="chat">
  <table>
    <tbody id="chat-body" class="messages"></tbody>
  </table>
</div>
