<div id="chat">
  <table class="table is-striped is-narrow">
    <tbody id="chat-body" class="messages"></tbody>
  </table>
</div>

<form id="chat-form">
  <div class="field is-grouped">
    <div class="control username">
      <input type="text" id="username" class="input" placeholder="Username" required />
    </div>
    <div class="control is-expanded">
      <input type="text" id="message" class="input" placeholder="Type a message" required />
    </div>
    <div class="control">
      <input type="submit" value="Send" class="button is-success" />
    </div>
  </div>
</form>
