html {
  font-size: 15px;
}

html, body {
  height: 100%;
}

section.section {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

#chat {
  margin-bottom: 10px;
}

#chat table {
  width: 100%;
  margin-bottom: 0;
}

#chat tr:not(:last-child) {
  border-bottom: 1px solid gray;
}

#chat tr {
  display: flex;
}
td.time, th.time {
  min-width: 80px;
  text-align: center;
}
td.username, th.username {
  min-width: 100px;
  border-right: 1px solid gray;
}
td.message-text, th.message-text {
  flex-grow: 1;
}

.control.username {
  width: 95px;
}
