html {
  font-size: 15px;
}

section.section {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 1rem;
}

.textarea {
  min-height: 100px;
}

#chat {
  max-height: 300px;
  overflow-y: auto;
}

#chat table {
  width: 100%;
}

#chat tr:not(:last-child) {
  border-bottom: 1px solid gray;
}

#chat tr {
  display: flex;
}
td.time, th.time {
  min-width: 80px;
  text-align: center;
}
td.username, th.username {
  min-width: 100px;
  border-right: 1px solid gray;
}
td.message-text, th.message-text {
  flex-grow: 1;
}
